body {background-color: darkslategray; color: gainsboro;}
p {font-family: helvetica; font-size: 120%; word-wrap: break-word; line-height: 140%}
h1 {font-family: roman; font-size: 5vw; text-align: center; line-height: 5%;}
h2 {font-family: helvetica; font-size: 160%;}
h3 {color: black; font-family: helvetica; font-size: 140%;}
h4 {font-family: helvetica; font-size: 120%; line-height: 10%;}
ul {font-family: helvetica;font-size: 120%;}
address {font-family: helvetica; font-style: normal}
table {font-family: helvetica;}
a:visited{font-size: 100%; color: DarkOrchid;}
a:link{font-size: 100%; color: PaleTurquoise;}
img {object-fit:cover;}
div{overflow: auto}
div.researchbox{background-color: gainsboro; padding: 1%;}
p.researchpar{color:black; height:80%;}
img.researchimg{float:left;max-width:45%;max-height:100%;}
* {box-sizing: border-box;}
.column {float: left; padding: 20px;}
.left {width: 25%;}
.middle {width: 50%;}
.right {width: 25%;}
.row:after {content: ""; display: table; clear: both; }
@media screen and (max-width: 600px) {.column {width: 100%;}}
